<aside class="two columns">
  <ul>
    <li><a href="/sources/<%= @source.identifier %>/events">Event Data</a></li>
    <li><a href="/sources/<%= @source.identifier %>">Dashboard</a></li>
  </ul>
</aside>
